{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <p class="bg-success" style="padding: 15px;">{{ flash_message }}</p>
    {% endfor %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}